<h1>Hi Fellow Posters</h1>

<form class="post-form">
  <label>Title:
    <input type="text" name="title" value="<%= post.escape("title") %>">
  </label>
  <br>
  <label>Body:
    <textarea name="body" rows="5" cols="30"><%= post.escape("body") %></textarea>
  </label>
  <button>Submit</button>
</form>
