<h1 class="title"><%= post.escape("title")  %></h1>
<p class="body">
 <%= post.escape("body") %>
</p>

<button class='post-delete'>Delete me!</button>
<br>
<a href="/#/posts/<%= post.id %>/edit">Edit</a>
<br>
<br>
<a href="/">Back To Homepage</a>
