/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background: #eee;
 }

 button, a {
   text-decoration: none;
   background: #eee;
   margin: 15px 20px;
   padding: 0px 10px;
   border: 1px solid black;
   font-family: sans-serif;
   font-weight: 500;
   border-radius: 10px;
 }

 li {
   margin: 5px 0px;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 h1 {
   text-align: center;
   margin: 5px;
   color: navy;
   font-weight: 900;
 }

 .window{
   display: block;
   padding: 10px;
   width: 500px;
   margin: auto;
   border: 15px solid navy;
   border-radius: 10px;
   background: #ccc;
 }

.sidebar {
  width: 200px;
  float: left;
  background: lightblue;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
}

.main-content {
  width: 275px;
  padding-right: 11px;
  float: right;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  background: lightblue;
}

.body {
  margin-right: 2px;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  background: #eee;
  padding-left: 5px;
}
